@model Web.Models.Employee.EmployeeIndexViewModel

@{
    ViewBag.Title = "Работники";
}

<div class="row mb-5 mt-5">
    <div class="col-12 shadow-lg p-0 bg-white">
        <div style="width: 130%; margin-left: -15%;" class="card">
            <div class="card-header">
                <h3>Работники</h3>
            </div>
            <div class="card-body">
                <div>

                    <form method="get">
                        <div class="form-inline form-group">
                            <label class="mr-1" asp-for="SearchDepartment">Отдел: </label>
                            <select class="mr-1" style="height: 1.8em;" name="searchDepartment" asp-items="Model.DepartmentSelect" asp-for="SearchDepartment"></select>
                            <label class="mr-1" asp-for="SearchPosition">Должность: </label>
                            <select class="mr-1" style="height: 1.8em;" name="searchPosition" asp-items="Model.PositionSelect" asp-for="SearchPosition"></select>
                        </div>

                        <div class="form-inline form-group">
                            <label class="mr-1" asp-for="SearchSelectionString">Поиск по: </label>
                            <select class="mr-1" style="height: 1.8em;" name="searchSelectionString" asp-items="Model.SearchSelection" asp-for="SearchSelectionString"></select>
                            <label class="mr-1" asp-for="SearchString">Значение: </label>
                            <input class="mr-1" name="searchString" asp-for="SearchString" />
                            <input class="btn btn-sm btn-primary mr-1" type="submit" value="Поиск" />
                            <a class="btn btn-sm btn-danger mr-1" asp-action="Index">Обновить</a>
                            <a class="btn btn-sm btn-success mr-1" asp-action="Add"
                               asp-route-searchSelectionString="@Model.SearchSelectionString" asp-route-searchString="@Model.SearchString"
                               asp-route-searchDepartment="@Model.SearchDepartment" asp-route-searchPosition="@Model.SearchPosition">Добавить работника</a>

                        </div>
                    </form>

                    @if (Model.EmployeeViewModels.Any())
                    {
                        <table class="table">
                            <tr>
                                <th>
                                    Код
                                </th>
                                <th>
                                    ФИО
                                </th>
                                <th>
                                   Пол
                                </th>
                                <th>
                                    Дать рождения
                                </th>
                                <th>
                                    Телефон
                                </th>
                                <th>
                                  Отдел
                                </th>
                                <th>
                                 Должность
                                </th>                              
                             
                                <th>

                                </th>
                            </tr>
                            @foreach (var employee in Model.EmployeeViewModels)
                            {
                        <tr>
                            <td>@employee.Id</td>
                            <td>@employee.FullName</td>
                            <td>@employee.Sex</td>
                            <td>@employee.DateOfBirth.ToString("dd.MM.yyyy")</td>
                            <td>@employee.Phone</td>
                            <td>@employee.DepartmentName</td>
                            <td>@employee.PositionName</td>


                            <td>
                                <form asp-action="Delete"
                                      asp-route-searchSelectionString="@Model.SearchSelectionString" asp-route-searchString="@Model.SearchString"
                                      asp-route-searchDepartment="@Model.SearchDepartment" asp-route-searchPosition="@Model.SearchDepartment"
                                      asp-route-id="@employee.Id"
                                      method="post">

                                    @{ 
                                        var fullName = employee.Id + "|" + employee.FullName;
                                    }

                                    <a class="btn btn-sm btn-light" asp-controller="Equipment" asp-action="Index" asp-route-searchEmployee="@fullName">К оборудованию</a>


                                    <a class="btn btn-sm btn-primary" asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id"
                                       asp-route-searchSelectionString="@Model.SearchSelectionString" asp-route-searchString="@Model.SearchString"
                                       asp-route-searchDepartment="@Model.SearchDepartment" asp-route-searchPosition="@Model.SearchPosition">Изменить</a>
                                    <button onclick="if (!confirm('Вы уверены, что хотите удалить этот элемент?')) { return false }" type="submit" class="btn btn-sm btn-danger">
                                        Удалить
                                    </button>
                                </form>

                                @if (ViewBag.Move)
                                {
                                    <form asp-action="Move"
                                          asp-route-searchSelectionString="@Model.SearchSelectionString" asp-route-searchString="@Model.SearchString"
                                          asp-route-searchDepartment="@Model.SearchDepartment" asp-route-searchPosition="@Model.SearchDepartment"
                                          asp-route-id="@employee.Id" asp-route-equipmentId="@ViewBag.EquipmentId">
                                        <button onclick="if (!confirm('Вы уверены, что хотите переместить этот элемент?')) { return false }" type="submit" class="btn btn-sm btn-danger mt-1">
                                            Назначить
                                        </button>
                                    </form>
                                }
                                </td>
                        </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <h2 class="text-center text-danger">
                            Список пуст
                        </h2>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
